main,
section {
  width: 100%;
  height: fit-content;
}

.heading {
  width: 100%;
  display: flex;
  justify-content: center;
}

.game {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right p {
  margin-top: -1rem;
  color: red;
  font-style: italic;
  font-weight: 800;
  transform: scale(0);
  transition: all 0.5s;
}

.picth {
  width: 250px;
  height: 500px;
  background: url(../img/field.png) no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

#goal {
  transform: scale(0.55);
  position: absolute;
  top: -15.6rem;
  transition: all 1s;
}

#keeper {
  position: absolute;
  top: -15rem;
  transform: scale(0);
  transition: all 1s;
}

#keeper.sliding-right {
  /**animation: sliding 3s infinite alternate;*/
  left: 2rem !important;
}

#keeper.sliding-center {
  /**animation: sliding 3s infinite alternate;*/
  left: -1.5rem !important;
}

#keeper.sliding-left {
  /**animation: sliding 3s infinite alternate;*/
  left: -4rem !important;
}

#ball {
  position: absolute;
  transform: scale(0.56);
  top: 20rem;
  transition: all 1s;
  transition-timing-function: linear;
}

#ball.heartBeat {
  animation: beat 0.25s infinite alternate;
}

@keyframes beat {
  to {
    transform: scale(0.65);
  }
}

@keyframes sliding {
  0% {
    left: -1.5rem;
  }

  25% {
    left: -4rem;
  }

  50% {
    left: -1.5rem;
  }

  75% {
    left: 2rem;
  }

  100% {
    left: -1.5rem;
  }
}
/* Mobile view */

@media screen and (max-width: 630px) {
  .game {
    justify-content: center;
    flex-direction: column;
  }

  .left {
    order: -1;
  }
}
