html,
body {
  padding: 1.25rem;
}

main,
section {
  width: 100%;
  height: fit-content;
}

.heading {
  width: 100%;
  display: flex;
  justify-content: center;
}

.game {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right p {
  margin-top: -1rem;
  color: red;
  font-style: italic;
  font-weight: 800;
  transform: scale(0);
  transition: all 0.5s;
}

.picth {
  width: 250px;
  height: 500px;
  background: url(../img/field.png) no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

#goal {
  transform: scale(0.55);
  position: absolute;
  top: -15.6rem;
  transition: all 0.5s;
}

#keeper {
  position: absolute;
  top: -15rem;
  left: -100%;
  transform: scale(0.25);
  transition: all 0.5s;
}

#ball {
  position: absolute;
  transform: scale(0.56);
  top: 20rem;
  transition: all 0.5s;
}

#ball.heartBeat {
  animation: beat 0.25s infinite alternate;
}

@keyframes beat {
  to {
    transform: scale(0.65);
  }
}
